body {
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  /* flex-wrap: wrap; */
}

#canvas {
  width:89vw;
  height: 100vh;
  /* background: #000; */
}

#options {
  background: #ffffff;
  box-shadow: 0 0 10px;
  margin-right: 2rem;
  width: 10rem;
  min-height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-radius: 1rem;
  padding: 0.5rem;
}

#black-ink {
  background: #000;
  height: 3rem;
  width: 3rem;
  border-radius: 0.5rem;
  border: 2px solid white;
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
#red-ink {
  background: red;
  height: 3rem;
  width: 3rem;
  border-radius: 0.5rem;
  border: 3px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}
#blue-ink {
  background: blue;
  height: 3rem;
  width: 3rem;
  border-radius: 0.5rem;
  border: 3px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}
#green-ink {
  background: green;
  height: 3rem;
  width: 3rem;
  border-radius: 0.5rem;
  border: 3px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}
.inks {
  transition: 0.3s;
}
.inks:hover {
  scale: 1.1;
}
#ink-width {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: fit-content;
    width: fit-content;
}
#ink-width{
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#ink-width div{
    width: 100%;
    height: 3px;
    background: #000;
    border-radius: 1rem;
}
#ink-width p{
    margin-bottom: -0.3rem;
    margin-bottom: 3rem;
    color: black;
    font-weight:bold;
}
#ink-width input{
    margin-top: -2.7rem;
}

#eraser{
    height: 2rem;
    width: 2rem;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    outline: none;
}

#clear-all{
    outline:none;
    border-radius: 0.3rem;
    background: #eb5e5e;
    font-weight: bold;
}
#download{
    border-radius: 0.4rem;
    padding: 0.3rem;
}
#import-img{
    display:none;
}
#import-img-label{
    font-size: 1.04rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: underline;
    cursor: pointer;
}